* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

:root {
  --primary-text-color: #303030;
  --primary-text-light: #555555;
  --inverted-text-color: #ffffff;
  --secondary-transparent-text: rgba(157, 164, 189, 0.6);
  --third-transparent-text: rgba(157, 164, 189, 0.4);
  --secondary-text-color: #9da4bd;
  --primary-backround-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --background-dark-color: #191c26;
  --brand-color: #ff6c00;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Open Sans';
  font-style: normal;
  line-height: 1.85;
  background-color: var(--primary-backround-color);
}

aside {
  width: 155px;
  height: 680px;
}

.section {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.section-subtitle {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

.upper-description::before {
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  content: '';
}

.upper-description-light::before {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-transparent-text);
  content: '';
}

.upper-description {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

/* first page */

.first-page {
  display: flex;
  flex-direction: row-reverse;
}

.head-section {
  background: url(../images/header_background_hero_section.jpg);
  background-attachment: fixed;
  background-size: 100%;
  width: 1125px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button:hover,
.button-white:hover {
  background-color: var(--brand-color);
}
/* navigation */

.nav-item {
  padding: 42px 0px 42px 0px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  color: var(--inverted-text-color);
  display: inline-block;
}

.nav-link:hover {
  color: var(--brand-color);
}

/* address list */

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 55px;
}

.address-item {
  display: inline-block;
  padding: 42px 0px 42px 0px;
}

.address-link {
  color: var(--inverted-text-color);
  font-size: 12px;
  line-height: 16px;
  background: none;
}

.address-link:hover {
  background: none;
}

.button-white {
  color: var(--inverted-text-color);
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  font-weight: 600;
  background-color: transparent;
}

/* hero section */

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 202px;
  margin-left: 100px;
  margin-top: 150px;
}

.hero-title {
  font-family: 'Raleway';
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--inverted-text-color);
}

.hero-description {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.upper-description-light {
  color: var(--secondary-transparent-text);
}

.flip-button-disabled {
  position: relative;
  background: none;
  color: var(--secondary-transparent-text);
}

.flip-button-disabled::after {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-transparent-text);
  content: '';
  position: absolute;
  bottom: -8px;
}

.flip-button-disabled:hover {
  color: var(--secondary-transparent-text);
}

.flip-button {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  background: none;
  color: var(--inverted-text-color);
}

.flip-button:hover {
  color: var(--brand-color);
}

.flip-button::after {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--inverted-text-color);
  content: '';
  position: absolute;
  bottom: -8px;
  right: 0px;
}

.flip-button:hover::after {
  background-color: var(--brand-color);
}

.carousel-buttons {
  display: flex;
  gap: 48px;
  position: absolute;
  width: 60px;
  height: 24px;
  left: 1145px;
  top: 616px;
}

.social-media {
  position: absolute;
  left: -20px;
  display: flex;
  gap: 20px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

/* second section */

.about-us-section {
  display: flex;
  flex-direction: row;
  padding: 130px 90px 130px 55px;
  gap: 64px;
  width: 1280px;
  height: 705px;
}

.our-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-light);
}

.about-us {
  line-height: 1.86;
  letter-spacing: 0.02em;
  width: 500px;
  height: 128px;
  color: var(--primary-text-light);
}

.image-container {
  display: flex;
  gap: 30px;
}

.image-process {
  width: 270px;
  height: 445px;
}

.about-us-section button {
  width: 151px;
}

.button {
  color: var(--primary-text-color);
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  font-weight: 600;
  background-color: transparent;
}

/* Service and prices	*/

.price-titles p {
  color: var(--secondary-transparent-text);
}
.price-titles h2 {
  color: var(--inverted-text-color);
}

.price-titles {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  margin-left: 55px;
  gap: 20px;
}

.prices-section {
  width: 1280px;
  height: 718px;
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url(../images/prices.jpeg);
  background-color: rgba(
    17,
    19,
    25,
    1
  ); /* Задаємо прозорість 20% через rgba() значення */
  background-size: cover;
  position: relative;
}

.service-item {
  display: inline-block;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.service-list {
  margin-top: 44px;
  margin-left: 55px;
  margin-right: 55px;
  display: flex;
  flex-direction: row;
}

.service-list-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.service-list-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service-list-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 585px;
  height: 240px;
  padding: 30px 40px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prices-section button {
  margin-top: 50px;
  margin-left: 569px;
  margin-bottom: 130px;
}
/*
.service::after {
  display: inline-block;
  margin: 0px 6px 0px 6px;
  width: 1px;
  height: 1px;
  background-color: var(--secondary-transparent-text);
  content: '';
}
*/
.service {
  position: relative;
}

.service::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Задайте висоту лінії за вашим вибором */
  background-color: var(
    --secondary-transparent-text
  ); /* Задайте колір лінії за вашим вибором */
}

/* Third section*/

.achievements-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1280px;
  height: 582px;
  border: 1px solid #000;
}

.achievements-section h2 {
  width: 420px;
  height: 98px;
}

.achievements h2::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  color: var(--brand-color);
  position: absolute;
  top: 10px;
}

.recomendations {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-light);
  width: 500px;
  height: 90px;
}

.achievements-titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 130px;
}

.achievements-list {
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.achievements-list-left {
  margin-top: 121px;
}

.achievements-list-right {
  margin-top: 156px;
  margin-right: 130px;
}

.achievements-list h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;
  width: 80px;
  height: 57px;
}

.achievements {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  width: 170px;
  height: 133px;
  background: var(--secondary-background-color);
  padding: 20px 24px;
}

.achievements-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*	Fourth section	*/

.masters-section {
  padding: 0px;
  height: 890px;
  background: var(--secondary-background-color);
}

.masters-section > .upper-description {
  color: var(--primary-text-color);
  padding-top: 130px;
  margin-left: 55px;
  width: 380px;
  height: 15px;
}

.masters-section h2 {
  margin-top: 20px;
  margin-left: 55px;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  gap: 30px;
  margin-left: 55px;
  margin-right: 55px;
}

.master-item {
  width: 370px;
  height: 502px;
}

.masters-image {
  width: 370px;
  height: 346px;
}

.master-name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.master-position {
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.social-list {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-left: 72px;
}

.social-item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-backround-color);
}

.social-link {
  align-self: center;
}

.social-icon:hover {
  fill: var(--brand-color);
}

.social-icon {
  display: flex;
  width: 20px;
  color: var(--background-dark-color);
}

/* work section*/

.work-section {
  width: 1280px;
  height: 679px;
  padding: 130px 55px;
}

.work-section p {
  line-height: 15px;
  color: var(--primary-text-color);
}

.work-list {
  display: flex;
  gap: 30px;
  margin-top: 44px;
}

/* Форма */

.form-and-contacts {
  padding: 0px;
  display: flex;
  flex-direction: row;
  background-color: var(--background-dark-color);
}

.form {
  width: 655px;
  height: 644px;
  padding: 130px 40px 193px 55px;
}

.form h3 {
  color: var(--inverted-text-color);
  margin-bottom: 44px;
}

.username,
.userphone,
.message {
  border-bottom: 1px solid var(--secondary-transparent-text);
  background: none;
}

.username,
.userphone {
  color: var(--secondary-transparent-text);
  width: 270px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.username:focus,
.userphone:focus,
.message:focus {
  color: var(--inverted-text-color);
  border-bottom: 1px solid var(--inverted-text-color);
}

.userphone {
  width: 260px;
}

.textaera {
  display: inline-block;
  width: 560px;
  height: 76px;
}

.message {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-transparent-text);
  width: 560px;
  height: 76px;
  margin-bottom: 44px;
}

.down-contacts {
  width: 625px;
  height: 644px;
}

.down-contacts h3 {
  font-style: normal;
  color: var(--inverted-text-color);
  width: 420px;
  height: 49px;
  margin: 130px 105px 40px 100px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 270px;
  height: 160px;
  margin: 0px 255px 70px 100px;
}

.contact-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  width: 230px;
}

.contact-item a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.down-contacts > .upper-description {
  font-style: normal;
  line-height: 15px;
  margin-top: 70px;
  margin-left: 100px;
  color: var(--inverted-text-color);
}

.work-time {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-left: 100px;
}

/* footer */

.footer {
  display: flex;
  height: 127px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-items: center;
  margin-left: 773px;
}

.footer-socials::before {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--primary-text-color);
  content: '';
}

.copyright {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 55px;
  color: var(--secondary-text-color);
}

.social-media-item {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--primary-text-color);
}
