* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Open Sans';
  font-style: normal;
}

aside {
  width: 155px;
  height: 680px;
}

.first-page {
  display: flex;
  flex-direction: row-reverse;
}

.head-section {
  background: url(../images/header_background_hero_section.jpg);
  width: 1125px;
  height: 680px;
}

/* navigation */

.nav {
  display: inline-block;
}

.nav-list {
  display: inline-block;
  margin: 52px 312px 0px 40px;
}

.nav-item {
  display: inline-block;
  margin-right: 40px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ff6c00;
}

/* address list */

.address {
  display: inline-block;
}

.address-list {
  display: inline-block;
}

.address-item {
  display: inline-block;
}

.address-link {
  text-transform: uppercase;
  color: white;
  margin-right: 40px;
}

.address-link1 {
  color: white;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

button {
  background: none;
}

/* hero section */
